  <form method="post" action="/gossips">

      <label for="title">Title</label>
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input id="title" name="title" type="text" value=""/>
      <br /> <br />

      <label for="body">Body</label>
      <textarea id="body" name="body"></textarea>
      <br /> <br />

      <label for="author">Author</label>
      <input id="author" name="author" type="text" value=""/>
      <br /> <br />

      <input type="submit" value="Create Post" />

    </form>